<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let producto of productos">
    <a [routerLink]="['/', producto.id_producto]">
      <div class="card mb-3">
        <img
          src="{{producto.img_producto?
            'http://localhost:3000/public/img/producto/' + producto.img_producto :
            'assets/style/fontawesome-5/svgs/solid/image.svg'
          }}"
          alt=""
          height="300px"
          class="card-img-top"
        />
        <div class="card-body">
          <h4>{{ producto.titulo }}</h4>
          <h6>{{producto.precio | number}} Bs.s</h6>
        </div>
      </div>
    </a>
  </div>
</div>
